<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= current_page.data.title || "MySite" %></title>


  <%= stylesheet_link_tag 'normalize.css' %>
  <%= stylesheet_link_tag 'foundation.css' %>
  <%= stylesheet_link_tag 'app.css' %>


  <%= javascript_include_tag  "all" %>

</head>
<body>

<div class="row">

  <div class="large-9 columns" role="content">
    <article>
      <%= yield %>
    </article>
    </div>
</div>

<script>
  $(document).foundation();
</script>
</body>
</html>